/.idea/.gitignore
/app1/.idea/.gitignore
/app1/front/.idea/.gitignore
/app1/.idea/.name
/app1/front/.idea/ansibleVaultSettings.xml
/.idea/daps.iml
/.idea/dataSources.xml
/.idea/deployment.xml
/app1/.idea/deployment.xml
/app1/front/.idea/deployment.xml
/app1/.idea/doug.iml
/app1/front/.idea/front.iml
/.idea/kubernetes-settings.xml
/.idea/misc.xml
/app1/.idea/misc.xml
/app1/front/.idea/misc.xml
/.idea/modules.xml
/app1/.idea/modules.xml
/app1/front/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/app1/.idea/inspectionProfiles/profiles_settings.xml
/app1/front/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/app1/.idea/inspectionProfiles/Project_Default.xml
/app1/front/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/webServers.xml
/app1/front/.idea/webServers.xml

.idea
.git/
.vscode

write_cluster_vars.rtf
