/.idea/.gitignore
/geocode/.idea/.gitignore
/geocode/front/.idea/.gitignore
/geocode/.idea/.name
/geocode/front/.idea/ansibleVaultSettings.xml
/.idea/daps.iml
/.idea/dataSources.xml
/.idea/deployment.xml
/geocode/.idea/deployment.xml
/geocode/front/.idea/deployment.xml
/geocode/.idea/doug.iml
/geocode/front/.idea/front.iml
/.idea/kubernetes-settings.xml
/.idea/misc.xml
/geocode/.idea/misc.xml
/geocode/front/.idea/misc.xml
/.idea/modules.xml
/geocode/.idea/modules.xml
/geocode/front/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/geocode/.idea/inspectionProfiles/profiles_settings.xml
/geocode/front/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/geocode/.idea/inspectionProfiles/Project_Default.xml
/geocode/front/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/webServers.xml
/geocode/front/.idea/webServers.xml

.idea
.git/
.vscode

write_cluster_vars.rtf
